@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
  html {
    @apply transition-colors duration-300;
  }
  body {
    @apply bg-white dark:bg-gray-900 dark:text-gray-100;
  }
}

.work-sans-text {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

@keyframes bounce-fast {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-30px); }
}
.animate-bounce-fast {
  animation: bounce-fast 0.5s infinite;
}
.animate-spin-slow {
  animation: spin 4s linear infinite;
}

:root {
  --color-primary: #FFC107;
}

@layer components {
  .text-primary-gradient {
    @apply bg-gradient-to-r from-amber-400 via-amber-300 to-amber-500 bg-clip-text text-transparent;
  }
}


<<<<<<< HEAD
=======

>>>>>>> 347715e574f99e80de261bd68a8c833e64d14392
@layer components {
  .btn-secondary {
    @apply btn btn-md rounded-full text-black text-lg font-bold shadow-xl
           bg-gradient-to-r from-amber-500 via-amber-400 to-amber-700
           hover:scale-105 hover:from-amber-400 hover:to-amber-600
           transition-all duration-300 border border-amber-100/20;
  }
}

<<<<<<< HEAD
=======

>>>>>>> 347715e574f99e80de261bd68a8c833e64d14392
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: base-200;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
